/**
 * @name birdcord
 * @description My personal discord theme that I cobbled together.
 * @author POWERdog59
 * @version 1.0.0
 * @source https://github.com/POWERdoggo/birdcord
 * @authorId 
*/

@import url('https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/refs/heads/master/Themes/SettingsModal/SettingsModal.css');
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* change colors here */
/* a color picker should show up if you hover over the "hsl(x, y, z)" part */
:root {
	/* blue hue variable */
	--hue-1: 204;
	/* gray hue variable */
	--hue-2: 220;

	/* link color */
	--link-color: hsl(var(--hue-1), 70%, 60%);
	/* main accent color (mentions, folder icons, unread indicators) */
	--accent-color: hsl(var(--hue-1), 60%, 50%);
	/* darker accent color (background of any accent items with text) */
	--accent-background: hsl(var(--hue-1), 60%, 40%);
	/* even darker accent color (background of accent buttons when hover) */
	--accent-background-2: hsl(var(--hue-1), 60%, 30%);
	/* even darker accent color (background of accent buttons when clicked) */
	--accent-background-3: hsl(var(--hue-1), 60%, 20%);
	/* background of mention text and messages that mention you */
	--mention-modifier: hsla(var(--hue-1), 60%, 50%, 0.1);
	/* background of messages that mention you on hover */
	--mention-hover-modifier: hsla(var(--hue-1), 60%, 50%, 0.05);
	/* bright text for colored buttons */
	--bright-text: hsl(var(--hue-2), 40%, 90%);
	/* header text for headers and certain text */
	--header-text: hsl(var(--hue-2), 30%, 70%);
	/* main text color (messages, titles, unread text/indicators) */
	--primary-text: hsl(var(--hue-2), 15%, 60%);
	/* secondary text color (channels, descriptions, buttons) */
	--secondary-text: hsl(var(--hue-2), 15%, 40%);
	/* muted text color (input box placeholders, muted channels, message times) */
	--muted-text: hsl(var(--hue-2), 15%, 24%);
	/* background of muted colored buttons on hover */
	--muted-background-hover: hsl(var(--hue-2), 15%, 20%);
	/* background of muted colored buttons on click */
	--muted-background-active: hsl(var(--hue-2), 15%, 16%);
	/* background of pretty much everything not using primary background */
	--secondary-background: hsl(var(--hue-2), 15%, 13%);
	/* main chat/channel list/member list background */
	--primary-background: hsl(var(--hue-2), 15%, 10%);
	/* overlay background on stuff when hovered over */
	--hover-modifier: hsl(var(--hue-2), 20%, 40%, 0.1);
	/* overlay background on stuff when clicked or selected */
	--active-modifier: hsl(var(--hue-2), 20%, 40%, 0.2);
	/* overlay background on messages when hovered over */
	--message-hover-modifier: hsl(var(--hue-2), 0%, 0%, 0.1);
	/* radius of round corners */
	--roundness: 16px;
}