@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

:root {
    --font-primary: 'Sarabun', sans-serif;
}

.theme-dark {
    --accent-1: #bbb;
    --accent-2: #888;
    --accent-3: #0098ff10;
    --accent-4: #0098ffa0;
    --background-1: #000;
    --background-2: #0a0a0a;

    --background-primary: var(--background-1);
    --background-primary-alt: var(--background-2);
    --background-secondary: var(--background-2);
    --background-secondary-alt: var(--background-2);
    --background-tertiary: var(--background-2);
    --background-floating: var(--background-1);
    --background-mentioned: #bde6fb10;
    --background-mentioned-hover: #bde6fb15;
    
    --background-modifier-hover: var(--accent-3);
    --background-modifier-active: var(--accent-4);
    --background-modifier-selected: var(--accent-4);
    
    --text-normal: var(--accent-1);
    --text-muted: #6d8692;
    --interactive-selected: var(--background-3);
    --interactive-active: var(--accent-4);
    --interactive-normal: var(--accent-1);
    
    --channeltextarea-background: var(--background-tertiary);
}

.theme-dark .toolbar-3_r2xA {
    background-color: var(--background-2);
    padding: 5px;
    border-radius: 8px;
}

.theme-dark .search-2Mwzzq {
    border: 1px solid var(--accent-4);
    border-radius: 3px;
}

.theme-dark .modeSelected-3DmyhH {
    color: #fff;
}
