@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --scrollbars: none;
    --notes: none;
    --message: none;
    --embed-color: none;
    --font-primary: 'Work Sans', sans-serif;
}

.theme-dark {
    --accent-1: #bbb;
    --accent-2: #888;
    --accent-3: #00497a;
    --accent-4: #00416e;
    --background-1: #000;
    --background-2: #0a0a0a;

    --background-primary: var(--background-1);
    --background-primary-alt: var(--background-2);
    --background-secondary: var(--background-2);
    --background-secondary-alt: var(--background-2);
    --background-tertiary: var(--background-2);
    --background-floating: var(--background-1);
    --background-mentioned: #bde6fb10;
    --background-mentioned-hover: #bde6fb15;
    
    --background-modifier-hover: var(--accent-3);
    --background-modifier-active: var(--accent-4);
    --background-modifier-selected: var(--accent-3);
    
    --text-normal: var(--accent-1);
    --interactive-selected: var(--background-1);
    --interactive-active: var(--accent-2);
    --interactive-normal: var(--accent-3);
    
    --channeltextarea-background: var(--background-tertiary);
}
