@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --font-primary: 'Work Sans', sans-serif;
}

.theme-dark {
    --background-1: #000;
    --background-2: #0a0a0a;

    --background-primary: var(--background-1);
    --background-primary-alt: var(--background-2);
    --background-secondary: var(--background-2);
    --background-secondary-alt: var(--background-2);
    --background-tertiary: var(--background-2);
    --background-floating: var(--background-1);
    --background-mentioned: #bde6fb10;
    --background-mentioned-hover: #bde6fb15;
    
    --background-modifier-hover: #222;
    --background-modifier-active: #fff;
    --background-modifier-selected: #aaa;
}
