@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --font-primary: 'Work Sans', sans-serif;
}

.theme-dark {
    --background-1: #000;
    --background-2: #050505;

    --background-primary: var(--background-1);
    --background-secondary: var(--background-2);
    --background-secondary-alt: var(--background-2);
}
